<!DOCTYPE html>
<html>
<head>
  <title>James Xue</title>
  <meta name="description" content="James Xue - Developer, Designer, Photographer, Free Spirit"/>
  <meta name="keywords" content="james xue freelance ui ux experience designer design web developer website creation">
  <link rel="shortcut icon" href="/favicon.ico">

  <link href="/assets/application-d2b780ce84e17a4e0a7c5c0a31d98513.css" media="all" rel="stylesheet" />
  <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600" media="all" rel="stylesheet" />
  <link href="//fonts.googleapis.com/css?family=Inconsolata:400,700" media="all" rel="stylesheet" />
  <script src="/assets/application-2323b0a083e02ab589ed6a04f1973185.js"></script>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

<div class = 'logo'> <%= image_tag "name.png" %> </div>

</head>
<body>

<div class = "container">
<%= render 'layouts/header' %>
</div>


<div class = "container">

	<%= yield %>
	<%= render 'layouts/footer' %>
</div>

</body>
</html>
