<!DOCTYPE html>
<html>
<head>

  <title>James Xue</title>

 <!--  <meta name="description" content="James Xue - Developer, Designer, Photographer, Free Spirit"/>
  <meta name="keywords" content="james xue freelance ui ux experience designer design web developer website creation">
  <link rel="shortcut icon" href="/favicon.ico">
 -->



  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

<div class = 'logo'> <center><%= image_tag "/assets/name.png" %> </center></div>

</head>
<body>

<div class = "header" ><center>
<%= render 'layouts/header' %>
</center></div>


<div class = "footer"><center>

	<%= yield %>
	<%= render 'layouts/footer' %>
</center></div>

</body>
</html>
